// $screen-sm-min: 768px;
// $screen-xs-max: ($screen-sm-min - 1);
// $screen-md-min: 992px;
// $screen-sm-max: ($screen-md-min - 1);
// $screen-lg-min: 1200px;
// $screen-md-max: ($screen-lg-min - 1);
// $partners: "";

// @each $i in $partners {
// 	.layout_partner_#{$i} {
// 		background-image: url(../../static/img/layout_partner_#{$i}.png);
// 	}
// 	.layout_partner_#{$i}:hover {
// 		background-image: url(../../static/img/layout_partner_active_#{$i}.png);
// 	}
// }

.headerStyle {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
	height: 70px;
	display: flex;
	justify-content: center;
	min-width: 1100px;
	& > div {
		min-width: 70%;
		width: 70%;
		display: flex;
		justify-content: space-between;
		align-items: center; // @media (min-width: $screen-lg-min){
		// 	min-width: 50%;
		// 	width: 50%;
		// }
		// @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		// 	min-width: 80%;
		// 	width: 80%;
		// }
	}
}

.logo {
}

.headerMenuStyle {
	list-style: none;
	font-size: 18px;
	li {
		margin-left: 40px;
	}
}

.contentStyle {
	min-height: calc(100vh - 100px);
}

.footer {
	color: #ffffff;
	background: #18264a;
	padding: 50px 0px;
	& > div {
		display: flex;
		width: 78%;
		min-width: 900px;
		margin: 0 auto;
		justify-content: space-between;
	}
}

.triangleRight {
	position: relative;
	border: 1px solid #cfe1ea; // border-radius: 5px;
	display: none;
	background: #ffffff;
	&:before {
		position: absolute;
		content: "";
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid #cfe1ea;
	}
	&:after {
		position: absolute;
		content: "";
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid #fff;
	}
}
